body{
    height: 100vh;
    width: 100vw;
}

.container{
    display: grid;
    width: 100%;
    /* grid-template-columns: auto auto 100px; */
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-columns: repeat(4,1fr); */
    /* grid-template-columns: minmax(200px , 1fr) minmax(300px , 1fr); */
    /* grid-template-columns: repeat(2, minmax(200px , 1fr)); */
    /* grid-template-columns: repeat(2, minmax(max-content , 1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(200px , 1fr));


}