body{
    width: 100vw;
    height: 100vh;display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
}

.progress-bar{
    width: 450px;
    height: 5px;
    border-radius: 2px;
    background-color: lightgray;
}

.progress-bar h2{
    text-align: center;
    color: whitesmoke;
    margin-top: 20px;
    letter-spacing: 3px;
}
.progress-bar .loader{
    width: 10px;
    height: 100%;
    background: linear-gradient(to right, red, blue, black);

    animation: load 2s ease-in-out 0s 1 normal forwards;
}

@keyframes load {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
    
}