body{
    height: 100vh;
    width: 100vw;
}

.section{
    width: 1200px;
    height: 600px;
    background-color: orange;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
        
}

.section .box{
    height: 150px;
    width: 150px;
    font-size: 40px;
    
}
.b1{
    background-color: red;
    /* order: 2; */
}

.b2{
    background-color: green;
    /* align-self: center; */
    /* order: 3; */
    flex-basis: 250px;
    /* priority of flex basis is greater than width */
    /* it is used to increase height and width of a container according to their axis */

}
.b3{
    background-color: #fff;
    /* order: 1; */
}