.box{
    height: 200px;
    width: 300px;
   
    padding: 20px;
    background: linear-gradient(to right ,red,blue,orange,green);
    background-clip: padding-box;
    margin: 10px;
}
.padding{
    background-clip: padding-box;
     border: transparent;
}
.content{
    background-clip: content-box;
     border: 2px solid black;
}
.text{
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}