*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* flex-direction: column; */
    align-content: space-evenly;
    /* align-items: stretch; */
    /* align-items: center; */

}

.box{
    height: 200px;
    width: 200px;
}
.b1{
    background-color: red;
}

.b2{
    background-color: blue;
}
.b3{
    background-color: green;
}
.b4{
    background-color: orange;
}
.b5{
    background-color: aqua;
}
.b6{
    background-color: violet;
}
.b7{
    background-color: pink;
}
.b8{
    background-color: brown;
}