*,*::after,*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

:root{
    font-size: 10px;
}

body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

form{
    width: 450px;
    height: fit-content;
    background-color: #fff;
    border: 2px solid black;
    padding: 2rem 4rem;
}

form label,span{
    font-size: 1.8rem;
}
form sup{
    color: crimson;
    font-size: 1.8rem;
}

.form-head h2{
    font-size: 2.8rem;font-weight: 600;
    letter-spacing: 0.2rem;
}

.form-head span{
    color: rgb(92, 91, 91);
}

.form-body{
    margin-bottom: 2rem;
}

.form-body input{
    width: 100%;
    padding: 1rem 1.4rem;
    font-size: 1.5rem;
}

.form-foot{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 1rem;
}

.form-foot button{
     width: 100%;
    padding: 1rem 1.6rem;
    font-size: 1.6rem;
    cursor: pointer;
    letter-spacing: 0.1rem;
    font-weight: 500;
    background-color: #222;
    border-radius: 0.5rem;
    border: none;
    color: white;
    outline: none;
}

form .form-body label:nth-of-type(3) div{
    position: relative;
}

form #togglePasswordBtn{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(50%);
    z-index: 2;
    color: black;
    cursor: pointer;
}

.form-body .invalid{
    height: 20px;
    color: red;
    padding:0px 0px 0px 5px ;
    visibility: visible;
}
.form-body .valid{
    height: 20px;
    color: transparent;
    padding:0px 0px 0px 5px ;
    visibility: hidden;
}