body{
    height: 100vh;
    width: 100vw;
}
.main{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    margin-top: 10px;
}
.item1{
    
    grid-column: 1/3;
    background-color: red;
    
}
.item3{
    background-color: blue;
}
.item4{
    grid-column: 2   /4;
    background-color: green;
}